  <nb-layout-column start>

    <br>  <br>

    <h1 [hidden]="isStudent" i18n="@@contestTeacherWelcome" class="title" align="center">Welcome to the teacher's menu!</h1>
    <h1 [hidden]="!isStudent" i18n="@@studentMenuWelcome" class="title" align="center">Welcome to the teacher's menu!</h1>

    <br>  <br>
    <br>  <br>
    <div>
      <h2 i18n="@@contestTeacherAllContests" align="center">All Contests</h2>
      <ng2-smart-table id="smartTableTeacher" [hidden]="isStudent" [settings]="settingsTable" [source]="localDataSource"
                       (deleteConfirm)="deleteContestFromTable($event)"
                       (userRowSelect)="selectedContestFromTable($event)"
      ></ng2-smart-table>
      <ng2-smart-table id="smartTableStudent" [hidden]="!isStudent" [settings]="settingsTableStudent" [source]="localDataSource"
                       (userRowSelect)="selectedContestFromTable($event)"
      ></ng2-smart-table>
    </div>
    <br>  <br>

    <div align="center" [hidden]="isStudent">
      <button nbButton (click)="goToCreateContest()" style="margin:4px;" status="success" size="medium" i18n="@@createContest">Create contest</button>
      <button nbButton  (click)="goToEditContest()" style="margin:4px;" status="primary" size="medium" i18n="@@editContest">Edit Contest</button>
    </div>
<!--



-->
  </nb-layout-column>

