<nb-layout-column start>

  <div>
    <h1 i18n="@@rankingTitle" align="center">Public Ranking</h1>
    <br>
    <p i18n="@@rankingTextSub" align="center">Ranking description</p>
    <br>
    <div style="display: inline-block; align-content: center">
      <table style="border:#222b45 solid 3px">
        <tr align="center" style="background-color: lightblue; border:#222b45 solid 3px">
          <th width="200">#</th>
          <th i18n="@@teamNameRankingCol" width="200" height="50">Team</th>
          <th i18n="@@scoreRankingCol" width="200" colspan="2">Score</th>
          <th *ngFor="let problem of problemsInContest;" width="200">{{problem.nombreEjercicio}}</th>
        </tr>
        <tr align="center" height="50"  *ngFor="let teamScore of teamScores;" style="border:#222b45 solid 3px">
          <th width="200">{{teamScore.rankingPosition}}</th>
          <td width="200">{{teamScore.team.nombreEquipo}}</td>
          <td width="100"><b>{{teamScore.solvedProblems}}</b></td>
          <td width="100">{{teamScore.score}}</td>
          <td width="200" *ngFor="let problem of teamScore.scoreList; let i=index" width="200" id="problemCell-{{i}}" [ngStyle]="selectColorToCell(problem.first, problem.score, problem.tries)">
            <div [hidden]="checkIfIsUndoned(problem.score, problem.tries)" >
              <p style="line-height: 25%" [hidden]="problem.score==0">{{problem.score}}</p>
              <br [hidden]="problem.score!=0">
              <p i18n="@@rankingTries" style="line-height: 25%">{{problem.tries}} tries</p>
            </div>
          </td>
        </tr>
        <tr align="center" style="border:#222b45 solid 3px">
          <th i18n="@@rankingSummary" width="200" height="50" colspan="2">Resumen</th>
          <th width="200" height="50" colspan="2"><b>{{this.summaryRanking.score}}</b></th>
          <th *ngFor="let problemSummary of this.summaryRanking.summaryProblemList;" width="200">
            <div style="margin-bottom: 0px; margin-top: 0px">
              <ion-icon style="display: inline-block" name="thumbs-up" style="font-size:20px;margin-right: 5px; margin-left: 5px"></ion-icon>
              <p style="display: inline-block">{{problemSummary.allOKs}}</p>
            </div>
            <div style="margin-bottom: 0px; margin-top: 0px">
              <ion-icon style="display: inline-block"  name="thumbs-down" style="font-size:20px;margin-right: 5px; margin-left: 5px"></ion-icon>
              <p style="display: inline-block">{{problemSummary.allKOs}}</p>
            </div>
            <div style="margin-bottom: 0px; margin-top: 0px">
              <ion-icon style="display: inline-block"  name="timer" style="font-size:20px;margin-right: 5px; margin-left: 5px"></ion-icon>
              <p style="display: inline-block"[hidden]="problemSummary.bestTime==0">{{problemSummary.bestTime}}min</p>
              <p style="display: inline-block"[hidden]="problemSummary.bestTime!=0">n/a</p>
            </div>

          </th>
        </tr>
      </table>
    </div>

  </div>

</nb-layout-column>




