<nb-layout-column start>

  <br>  <br>
  <div>
    <h2 i18n="@@editTestCasesTitle" id="testCases" class="title" align="center">Test cases {{actualProblem.nombreEjercicio}}</h2>
    <nb-card>
      <nb-card-body>
        <p i18n="@@editTestCaseSelect">Select</p>
        <nb-select (selectedChange)="onChangeSelectTestCasesToEdit($event)" [(ngModel)]="selectedTestCase">
          <nb-option *ngFor="let testCase of testCases" [value]="testCase">{{testCase.id}} - {{testCase.name}}</nb-option>
        </nb-select>

        <div>
          <br>
          <p i18n="@@studentMenuProblemName">Name:</p>
          <input nbInput [(ngModel)]='selectedTestCaseName' type="text" required>
          <br><br>
          <p i18n="@@testCaseBodyInput">Input:</p>
          <input nbInput (change)="manageInputFile($event)" [(ngModel)]="inputFileToSend"  type="file" accept=".ans,.in" required>
          <p i18n="@@testCaseActualValue" [hidden]="isntFilled">Actual Input:</p>
          <p style="white-space:pre; font-family: 'Monospace'" [hidden]="isntFilled">{{selectedTestCaseInput}}</p>
          <br><br>
          <p i18n="@@testCaseBodyOutput">Output:</p>
          <input nbInput (change)="manageOutputFile($event)" [(ngModel)]="outputFileToSend" type="file" accept=".ans,.in" required>
          <p i18n="@@testCaseActualValue" [hidden]="isntFilled">Actual Output:</p>
          <p style="white-space:pre; font-family: 'Monospace'" [hidden]="isntFilled">{{selectedTestCaseOutput}}</p>
          <br><br>
          <nb-checkbox [(ngModel)]='selectedTestCaseIsPublic' i18n="@@publicText">Toggle me</nb-checkbox>
        </div>
     </nb-card-body>
    </nb-card>
    <br>

    <div [hidden]="isPublic">
      <div align="center" [hidden]="isStudent">
        <button nbButton (click)="updateTestCase()" style="margin:4px;" status="warning" size="medium" i18n="@@editTestCase">Edit</button>
      </div>
    </div>
  </div>

</nb-layout-column>




