<p-skeleton height="6rem" styleClass="mb-2"></p-skeleton>

<div class="grid align-content-center">
    <div class="col-5 justify-content-center">
        <h2 class="text-center" i18n>Submissions</h2>
        <hr class="mx-5 mb-3" />
        <div class="card mx-5" *ngIf="loaded">
            <p-table [value]="submissions">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Time</th>
                        <th>Problem</th>
                        <th>Lang</th>
                        <th>Result</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-submission>
                    <tr>
                        <td>{{ submission.timestamp }}</td>
                        <td>{{ submission.problem }}</td>
                        <td>{{ submission.language }}</td>
                        <td><p-tag *ngIf="submission.result" [value]="submission.result"
                                [severity]="getSeverity(submission.result)"></p-tag></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="col-7 justify-content-center">
        <h2 class="text-center" i18n>Code</h2>
        <hr class="mx-5 mb-5" />
        <div class="grid mx-5 justify-content-evenly">
            <span class="p-float-label">
                <p-dropdown [options]="themes" [(ngModel)]="selectedTheme" [style]="{ minWidth: '175px' }"
                    placeholder="Select a theme" optionLabel="name" inputId="float-label" (onChange)="selectOptions()"
                    i18n-label></p-dropdown>
                <label for="float-label" i18n>Select a theme</label>
            </span>
            <span class="p-float-label">
                <p-dropdown [options]="lang" [(ngModel)]="selectedLanguage" [style]="{ minWidth: '175px' }"
                    [required]="true" placeholder="Select a language" optionLabel="name" inputId="float-label"
                    (onChange)="selectOptions()" i18n-label></p-dropdown>
                <label for="float-label" i18n>Select a language</label>
            </span>
            <span class="p-float-label">
                <p-dropdown appendTo="body" [options]="problems" [(ngModel)]="selProblem" placeholder="Select a problem"
                    optionLabel="name" inputId="float-label" [style]="{ minWidth: '175px' }" [required]="true"
                    i18n-label></p-dropdown>
                <label for="float-label" i18n>Select a problem</label>
            </span>
            <div class="">
                <p-toast position="top-left" key="tl"></p-toast>
                <p-button icon="pi pi-check" (click)="submitCode()" label="Submit" severity="success" pAutoFocus
                    [autofocus]="true" i18n-label></p-button>
            </div>
        </div>
        <ngx-monaco-editor class="mx-5 mt-3" style="height: 500px" [options]="editorOptions"
            [(ngModel)]="code"></ngx-monaco-editor>
    </div>
</div>