<nb-layout-column start>

  <br>  <br>
  <div>
    <h2 i18n="@@addTestCasesTitle" id="testCases" class="title" align="center">Test cases {{actualProblem.nombreEjercicio}}</h2>
    <nb-card>
      <nb-card-body>
        <div>
          <br>
          <p i18n="@@studentMenuProblemName">Name:</p>
          <input nbInput [(ngModel)]='testCaseName' type="text" required>
          <br><br>
          <p i18n="@@testCaseBodyInput">Input:</p>
          <input nbInput (change)="manageInputFile($event)" [(ngModel)]="testCaseInputFile"  type="file" accept=".ans,.in" required>
          <br><br>
          <p i18n="@@testCaseBodyOutput">Output:</p>
          <input nbInput (change)="manageOutputFile($event)" [(ngModel)]="testCaseOutputFile" type="file" accept=".ans,.in" required>
          <br><br>
          <nb-checkbox [(ngModel)]='testCaseIsPublic' i18n="@@publicText">Toggle me</nb-checkbox>
        </div>
     </nb-card-body>
    </nb-card>
    <br>

    <div [hidden]="isPublic">
      <div align="center" [hidden]="isStudent">
        <button nbButton (click)="addTestCase()" style="margin:4px;" status="success" size="medium" i18n="@@addTestCase">Add</button>
      </div>
    </div>
  </div>

</nb-layout-column>




