<div class="flex pt-7 justify-content-center">
    <h1 i18n>Welcome to IUDEX</h1>
</div>

<div class="flex pt-5 justify-content-center">
    <p-button label="Log In" size="large" (onClick)="login()" i18n-label></p-button>
</div>

<div class="flex text-center pt-5 mx-8">
    <h2 align="left" i18n>About us</h2>
</div>
<div class="card flex justify-content-center mx-8">
    <p-accordion [multiple]="true">
        <p-accordionTab header="Purpose" i18n-header>
            <p>
                This is IUDEX, an online programming judge. It is a platform designed to challenge and improve your
                programming skills through competitive programming. Thanks to this tool, users will be able to
                participate in contests and solve problems for educational purposes with automatic correction. It can
                be used for evaluation in college courses or as a training tool. IUDEX has been created to facilitate
                the user experience and to provide a friendly interface, so users can be comfortable while using it.
            </p>
        </p-accordionTab>
        <p-accordionTab header="How does it work?" i18n-header>
            <p>
                Once you log in, you will see all the contests in which you are a participant. Just choose one of the
                contests, and then you will be able to look at the problems, make submissions and see the ranking of the
                contest. In your home screen, you will be able to see the results of your submissions and you can even
                access a code editor to solve the problems and make submissions faster!
                <br>
                If you have administrator or judge permissions, you will be able to create and edit contests,
                problems, and teams. Also, you will be able to see the details of each submission and the ranking of the
                contests.
            </p>
        </p-accordionTab>
        <p-accordionTab header="Useful information" i18n-header>
            <p>
                The supported languages at the moment are Python, Java, C and C++. You will be able to see the time and
                memory limits of each problem in the 'Problems' tab or in the corresponding PDF file.
            </p>
        </p-accordionTab>
    </p-accordion>
</div>