<div class="flex pt-7 justify-content-center">
    <h1>{{ 'Welcome' | translate }}</h1>
</div>

<div class="flex pt-5 justify-content-center">
    <p-button label="{{ 'Login' | translate }}" size="large" (onClick)="login()"></p-button>
</div>

<div class="flex text-center pt-5 mx-8">
    <h2 align="left">{{ 'AboutUs' | translate }}</h2>
</div>
<div class="card flex justify-content-center mx-8">
    <p-accordion [multiple]="true">
        <p-accordionTab header="{{ 'Purpose' | translate }}">
            <p>
                {{ 'PurposeText' | translate }}
            </p>
        </p-accordionTab>
        <p-accordionTab header="{{ 'HowWorks' | translate }}">
            <p>
                {{ 'HowWorksText1' | translate }}
                <br>
                {{ 'HowWorksText2' | translate }}
            </p>
        </p-accordionTab>
        <p-accordionTab header="{{ 'UsefulInfo' | translate }}">
            <p>
                {{ 'UsefulInfoText' | translate }}
            </p>
        </p-accordionTab>
    </p-accordion>
</div>