<div class="flex pt-2 justify-content-center">
    <h1 i18n>Problems {{contest?.nombreContest}}</h1>
</div>
<hr class="mx-8">

<div class="grid align-content-center pt-3 mx-8">
    <p-card class="col-4 font-bold text-center border-round" header="{{i.nombreEjercicio}}"
        *ngFor="let i of problemList" i18n-header>
        <p class="mt-0 mb-4" i18n>
            Limit: {{i.timeout}} seconds / {{i.memoryLimit}} GB
        </p>
        <p-button label="PDF" (click)="pdf(i.id!)" i18n-label></p-button>
        <p-button label="Test Cases" severity="info" class="mx-2" (click)="testCases(i.id!)" i18n-label></p-button>
        <app-submit-button contestId="{{id}}" selectedProblem="{{i.nombreEjercicio}}"
            problemId="{{i.id}}"></app-submit-button>
    </p-card>
</div>