<div class="flex pt-2 justify-content-center">
    <h1 i18n>Ranking {{contestName}}</h1>
</div>
<hr class="mx-8 my-4">

<div *ngIf="loaded === false">
    <p-skeleton width="10rem" height="4rem" borderRadius="16px"></p-skeleton>
</div>

<div class="card mx-8" *ngIf="loaded">
    <p-table [columns]="cols" [value]="scoreData" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th colspan="1" style="width:10px">Position</th>
                <th colspan="1" style="width:10px">Team</th>
                <th colspan="1" style="width:10px">Score</th>
                <th></th>
                <th class="text-center" *ngFor="let col of columns">
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-scoreData let-columns="columns">
            <tr>
                <td class="text-center">{{scoreData.position}}</td>
                <td>{{scoreData.team}}</td>
                <td class="text-center">{{scoreData.score}}</td>
                <td></td>
                <td class="text-center" *ngFor="let col of columns">
                    <div [ngStyle]="{'background-color': scoreData.problems.get(col.field).color}"
                        class="mx-8 py-2 border-round" *ngIf="scoreData.problems.get(col.field).tries > 0">
                        {{scoreData.problems.get(col.field).score}} <br>
                        {{scoreData.problems.get(col.field).tries}} {{scoreData.problems.get(col.field).tries === '1' ?
                        "try": "tries"}}
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>