<div class="flex pt-2 justify-content-center align-items-center">

    <h1 *ngIf="pageType=='student'">{{ 'Ranking' | translate }} {{contestName}}</h1>

    <h1 class="pr-6" *ngIf="pageType=='judge'">{{ 'Ranking' | translate }}</h1>
    <p-dropdown *ngIf="pageType=='judge'" [options]="contests" [(ngModel)]="selectedContest" optionLabel="name"
        (onChange)="changeContest()" placeholder="Select a contest"></p-dropdown>

    <i class="col-1 pi pi-info-circle flex align-self-center align-items-center justify-content-center" severity="info"
        [pTooltip]="tooltipContent" tooltipPosition="right"></i>
    <ng-template #tooltipContent>
        <div class="flex align-items-center">
            <span>
                <table>
                    <tr>
                        <th class="p-2 border-round">{{ 'CellColors' | translate }}</th>
                    </tr>
                    <tr>
                        <td class="p-2 border-round" style="background-color: darkgreen; color: white;">{{ 'SolvedFirst'
                            | translate }}
                        </td>
                    </tr>
                    <tr>
                        <td class="p-2 border-round" style="background-color: green; color: white;">{{ 'Solved' |
                            translate }}</td>
                    </tr>
                    <tr>
                        <td class="p-2 border-round" style="background-color: red; color: white;">{{ 'Tried' | translate
                            }}</td>
                    </tr>
                    <tr>
                        <td class="p-2 border-round">{{ 'NotTried' | translate }}</td>
                    </tr>
                </table>
            </span>
        </div>
    </ng-template>
</div>
<hr class="mx-8 my-4">

<div class="flex justify-content-center" *ngIf="loaded === false && hasScores">
    <p-skeleton width="80rem" height="4rem" borderRadius="16px"></p-skeleton>
</div>

<div class="flex justify-content-center" *ngIf="hasScores === false">
    <h1>{{ 'ContestEmpty' | translate }}</h1>
</div>

<div class="card mx-8" *ngIf="loaded">
    <p-table [columns]="cols" [value]="scoreData" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th colspan="1" style="width:10px">{{ 'Position' | translate }}</th>
                <th colspan="1" style="width:10px">{{ 'Team' | translate }}</th>
                <th colspan="1" style="width:10px">{{ 'Score' | translate }}</th>
                <th></th>
                <th class="text-center" *ngFor="let col of columns">
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-scoreData let-columns="columns">
            <tr>
                <td class="text-center">{{scoreData.position}}</td>
                <td>{{scoreData.team}}</td>
                <td class="text-center">{{scoreData.score}}</td>
                <td></td>
                <td class="text-center" *ngFor="let col of columns">
                    <div [ngStyle]="{'background-color': scoreData.problems.get(col.field).color, 'color': 'white'}"
                        class="mx-8 py-2 border-round" *ngIf="scoreData.problems.get(col.field).tries > 0">
                        {{scoreData.problems.get(col.field).score}} <br>
                        {{scoreData.problems.get(col.field).tries}} {{scoreData.problems.get(col.field).tries === '1' ?
                        "try": "tries"}}
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>