<div class="flex pt-2 justify-content-center align-items-center">

    <h1 *ngIf="pageType=='student'" i18n>Ranking {{contestName}}</h1>

    <h1 class="pr-6" *ngIf="pageType=='judge'" i18n>Ranking</h1>
    <p-dropdown *ngIf="pageType=='judge'" [options]="contests" [(ngModel)]="selectedContest" optionLabel="name"
        (onChange)="changeContest()" placeholder="Select a contest"></p-dropdown>

    <i class="col-1 pi pi-info-circle flex align-self-center align-items-center justify-content-center" severity="info"
        [pTooltip]="tooltipContent" tooltipPosition="right"></i>
    <ng-template #tooltipContent>
        <div class="flex align-items-center">
            <span i18n>
                <table>
                    <tr>
                        <th class="p-2 border-round">Cell colors</th>
                    </tr>
                    <tr>
                        <td class="p-2 border-round" style="background-color: darkgreen;">Solved first</td>
                    </tr>
                    <tr>
                        <td class="p-2 border-round" style="background-color: green">Solved</td>
                    </tr>
                    <tr>
                        <td class="p-2 border-round" style="background-color: red">Tried, incorrect</td>
                    </tr>
                    <tr>
                        <td class="p-2 border-round">Not tried</td>
                    </tr>
                </table>
            </span>
        </div>
    </ng-template>
</div>
<hr class="mx-8 my-4">

<div class="flex justify-content-center" *ngIf="loaded === false && hasScores">
    <p-skeleton width="80rem" height="4rem" borderRadius="16px"></p-skeleton>
</div>

<div class="flex justify-content-center" *ngIf="hasScores === false">
    <h1 i18n>Contest is empty :(</h1>
</div>

<div class="card mx-8" *ngIf="loaded">
    <p-table [columns]="cols" [value]="scoreData" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th colspan="1" style="width:10px" i18n>Position</th>
                <th colspan="1" style="width:10px" i18n>Team</th>
                <th colspan="1" style="width:10px" i18n>Score</th>
                <th></th>
                <th class="text-center" *ngFor="let col of columns">
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-scoreData let-columns="columns">
            <tr>
                <td class="text-center">{{scoreData.position}}</td>
                <td>{{scoreData.team}}</td>
                <td class="text-center">{{scoreData.score}}</td>
                <td></td>
                <td class="text-center" *ngFor="let col of columns">
                    <div [ngStyle]="{'background-color': scoreData.problems.get(col.field).color}"
                        class="mx-8 py-2 border-round" *ngIf="scoreData.problems.get(col.field).tries > 0">
                        {{scoreData.problems.get(col.field).score}} <br>
                        {{scoreData.problems.get(col.field).tries}} {{scoreData.problems.get(col.field).tries === '1' ?
                        "try": "tries"}}
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>