<h1 class="py-2 mx-8" style="text-align: center;">{{title}}</h1>
<hr class="mx-8 my-4">
<div class="card mx-8">
    <p-table [columns]="cols" [value]="data">
        <!-- <p-table #dt2 [value]="items" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true"
        currentPageReportTemplate=$localize`Showing {first} to {last} of {totalRecords} entries`
        [globalFilterFields]="globalFilters" [tableStyle]="{ 'min-width': '75rem' }">
        <ng-template pTemplate="caption">
            <div class="flex">
                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                    (click)="clear(dt2)"></button>
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')"
                        placeholder="Search keyword" i18n-placeholder />
                </span>
            </div>
        </ng-template> -->
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="text-center" pSortableColumn="{{col.field}}" *ngFor="let col of columns">
                    {{ col.header }}
                    <p-sortIcon field="{{col.field}}"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td class="text-center" *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>