<nb-layout center withScroll>
  <nb-layout-header fixed>
    <!-- Insert header here -->
    <a href="#">
      <img src="../assets/img/logo.png" width="120" height="70" style="margin: 10px">
    </a>
    <h1 i18n="@@appHeader" id="headerTitle" class="title">Head Title</h1>
  </nb-layout-header>
  <nb-layout-column>
  <div [hidden]="hiddenPpalMenu">

      <h1 i18n="@@appTitleWelcome" id="title" class="title" align="center">Welcome to Pascal Judge!</h1>

      <br>

      <nb-accordion multi>
        <nb-accordion-item>
          <nb-accordion-item-header i18n="@@indexWhat">
            head
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <p style="margin: 0px" i18n="@@indexWhatBody1">body1</p>
            <p style="margin: 0px" i18n="@@indexWhatBody2">body2</p>
          </nb-accordion-item-body>
        </nb-accordion-item>

        <nb-accordion-item>
          <nb-accordion-item-header i18n="@@indexPurpose">
            Purpouse
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <p style="margin: 0px" i18n="@@indexPurposeBody1">body1</p>
            <p style="margin: 0px" i18n="@@indexPurposeBody2">body2</p>
            <p style="margin: 0px" i18n="@@indexPurposeBody3">body3</p>
          </nb-accordion-item-body>
        </nb-accordion-item>

        <nb-accordion-item>
          <nb-accordion-item-header i18n="@@indexHow">
            How does it work?
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <p style="margin: 0px" i18n="@@indexHowBody1">body1</p>
            <p style="margin: 0px" i18n="@@indexHowBody2">body2</p>
            <p style="margin: 0px" i18n="@@indexHowBody3">body3</p>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>

      <br><br>
      <nb-card>
        <nb-card-body>
          <div align="center">
            <div style="display: inline-block">
              <a href="javascript:void(0);" (click)="showPublicProblems($event)">
                <ion-icon name="reader" style="font-size:120px;margin-right: 30px; margin-top: 50px"></ion-icon>
              </a>
              <p style="margin-right: 30px" i18n="@@problemsText">Problems</p>
            </div>
            <div style="display: inline-block">
              <a href="javascript:void(0);" (click)="showPublicSubmissions($event)">
                <ion-icon name="bar-chart" style="font-size:120px;margin-right: 30px; margin-left: 15px; color: rgba(132,255,102,1)"></ion-icon>
              </a>
              <p style="margin-right: 30px; margin-left: 15px" i18n="@@submissionText">Submissions</p>
            </div>
            <div style="display: inline-block">
              <a href="javascript:void(0);" (click)="showPublicRanking($event)">
                <ion-icon name="trophy" style="font-size:120px;margin-left: 30px;color: rgba(255,211,23,1)"></ion-icon>
              </a>
              <p style="margin-left: 30px" i18n="@@rankingText">Ranking</p>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    <br>
    <nb-card>
      <nb-card-body>
          <h4 class="sub-title" align="center" i18n="@@indexSubtitle">Press Enter to continue!</h4>

          <br>

          <button nbButton
                  fullWidth
                  (click)="onClick()"
                  status="primary"
                  size="large"
                  i18n="@@loginButton">
            ENTER
          </button>
      </nb-card-body>
    </nb-card>
    <br>

  </div>
    <div>
      <router-outlet></router-outlet>
    </div>
    </nb-layout-column>

  <nb-layout-footer fixed>

    <div align="center">
      <a href="https://www.urjc.es/">
        <img src="../assets/img/logourjc.png" width="65" height="50">
      </a>
      <p>Universidad Rey Juan Carlos, Móstoles</p>
      <p>2020</p>
      <div align="center">
        <div style="display: inline-block">
          <a href="https://www.facebook.com/universidadreyjuancarlos">
            <ion-icon name="logo-facebook" style="font-size:20px;margin-right: 5px; margin-left: 5px; color: royalblue"></ion-icon>
          </a>
        </div>
        <div style="display: inline-block">
          <a href="https://www.linkedin.com/school/universidad-rey-juan-carlos">
            <ion-icon name="logo-linkedin" style="font-size:20px;margin-right: 5px; margin-left: 5px; color: darkblue"></ion-icon>
          </a>
        </div>
        <div style="display: inline-block">
          <a href="https://www.instagram.com/urjc_uni">
            <ion-icon name="logo-instagram" style="font-size:20px;margin-right: 5px; margin-left: 5px; color: deeppink"></ion-icon>
          </a>
        </div>
        <div style="display: inline-block">
          <a href="  https://www.youtube.com/user/universidadurjc">
            <ion-icon name="logo-youtube" style="font-size:20px;margin-right: 5px; margin-left: 5px; color: red"></ion-icon>
          </a>
        </div>
      </div>
    </div>

  </nb-layout-footer>

</nb-layout>
