@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
    background-color: var(--surface-b);
    font-family: var(--font-family);
    color: var(--text-color);
    position: relative;
    min-height: 100vh;
    margin: 0px;
    padding-bottom: 10em;
}