@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "assets/themes/darkTheme.css";

body {
    background-color: var(--surface-b);
    font-family: var(--font-family);
    color: var(--text-color);
    position: relative;
    min-height: 100vh;
}


