<nb-layout-column start>

  <br>  <br>

  <h1 i18n="@@problemViewerTitle" id="title" class="title" align="center">Problema {{actualProblem.nombreEjercicio}}</h1>

  <div>

    <nb-accordion multi>
      <nb-accordion-item>
        <nb-accordion-item-header i18n="@@idColumn">Id</nb-accordion-item-header>
        <nb-accordion-item-body>
          {{actualProblem.id}}
        </nb-accordion-item-body>
      </nb-accordion-item>
      <nb-accordion-item>
        <nb-accordion-item-header i18n="@@nameColumn">Name</nb-accordion-item-header>
        <nb-accordion-item-body>
          {{actualProblem.nombreEjercicio}}
        </nb-accordion-item-body>
      </nb-accordion-item>
      <nb-accordion-item>
        <nb-accordion-item-header i18n="@@teamColumn">Team</nb-accordion-item-header>
        <nb-accordion-item-body>
          {{actualProblem.equipoPropietario.nombreEquipo}}
        </nb-accordion-item-body>
      </nb-accordion-item>
     <nb-accordion-item>
      <nb-accordion-item-header i18n="@@timeoutColumn">Timeout</nb-accordion-item-header>
      <nb-accordion-item-body>
        {{actualProblem.timeout}}
      </nb-accordion-item-body>
    </nb-accordion-item>
      <nb-accordion-item>
        <nb-accordion-item-header i18n="@@memoryLimitColumn">Mem Limit</nb-accordion-item-header>
        <nb-accordion-item-body>
          {{actualProblem.memoryLimit}}
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>

    <h2 i18n="@@problemViewerTestCases" id="testCases" class="title" align="center">Test cases</h2>

    <nb-accordion multi>
      <nb-accordion-item *ngFor="let inputItem of actualProblem.samples; let testCaseIndex=index">
        <nb-accordion-item-header i18n="@@testCaseHeader">Test Case {{testCaseIndex}}</nb-accordion-item-header>
        <nb-accordion-item-body i18n="@@testCaseBodyInput">
          Input:
        </nb-accordion-item-body>
        <nb-accordion-item-body style="white-space:pre; font-family: 'Monospace'">{{inputItem.inputText}}</nb-accordion-item-body>
        <nb-accordion-item-body i18n="@@testCaseBodyOutput">
          Output:
        </nb-accordion-item-body>
        <nb-accordion-item-body style="white-space:pre; font-family: 'Monospace'">{{inputItem.outputText}}</nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
    <br>

    <div [hidden]="isPublic">
      <div align="center" [hidden]="isStudent">
        <button nbButton (click)="goToAddTestCase()" style="margin:4px;" status="success" size="medium" i18n="@@addTestCase">Add</button>
        <button nbButton (click)="goToEditTestCase()" style="margin:4px;" status="warning" size="medium" i18n="@@editTestCase">Edit</button>
        <button nbButton (click)="goToDeleteTestCase()" style="margin:4px;" status="danger" size="medium" i18n="@@deleteTestCase">Delete</button>
      </div>
    </div>
    <br>
    <h2 i18n="@@problemViewerPDF" id="pdfTitle" class="title" align="center">Test cases</h2>
    <object id="pdfObject" width="100%" height="1000px"></object>
    <br><br>
    <div [hidden]="isPublic">
      <div align="center" [hidden]="isStudent">
        <button nbButton (click)="goToEditProblem()" style="margin:4px;" status="primary" size="medium" i18n="@@editProblem">Edit Problem</button>
        <button nbButton (click)="deleteProblem()" style="margin:4px;" status="danger" size="medium" i18n="@@deleteProblem">Delete Problem</button>
      </div>
      <div align="center">
        <br>
        <button nbButton fullWidth (click)="goToResolveProblem()" style="margin:4px;" status="success" size="medium" i18n="@@stdMenuResolveProbl">Resolve</button>
      </div>
    </div>
  </div>
</nb-layout-column>




