<div class="grid footer py-4">
  <div class="col-4 card flex align-items-center justify-content-center">
    <p-toggleButton [(ngModel)]="val" onLabel={{onLabel}} offLabel="{{ 'LightMode' | translate }}" onIcon={{onIcon}}
      offIcon="pi pi-sun" iconPos="right" (onChange)="changeTheme()"></p-toggleButton>
  </div>

  <div class="col-4 card flex flex-column justify-content-center">
    <a href="https://www.urjc.es/">
      <img [src]="getImage()" alt="Universidad Rey Juan Carlos, Móstoles, 2024" height="45">
    </a>
    <div class="mt-3">
      <a href="https://www.facebook.com/universidadreyjuancarlos">
        <i class="pi pi-facebook mx-2"></i>
      </a>
      <a href="https://www.linkedin.com/school/universidad-rey-juan-carlos">
        <i class="pi pi-linkedin mx-2"></i>
      </a>
      <a href="https://www.instagram.com/urjc_uni">
        <i class="pi pi-instagram mx-2"></i>
      </a>
      <a href="https://www.youtube.com/user/universidadurjc">
        <i class="pi pi-youtube mx-2"></i>
      </a>
    </div>
  </div>

  <div class="col-4 card flex flex-column justify-content-center">
    <div class="flex align-items-center justify-content-center">
      <p style="margin-right: 10px;">{{ 'ChangeLang' | translate }} </p>
      <div class="flex align-items-center justify-content-center">
        <p-button styleClass="p-0" (onClick)="changeLang('es')" *ngIf="currentLang=='en'">
          <img class="m-0" src="assets/images/spain.png" alt="Flag of Spain" height="30" width="45" />
        </p-button>
        <p-button styleClass="p-0" (onClick)="changeLang('en')" *ngIf="currentLang=='es'">
          <img class="m-0" src="assets/images/england.png" alt="Flag of England" height="30" width="45" />
        </p-button>
      </div>
    </div>
  </div>
</div>