.footer {
  background-color: var(--surface-d);
  font-family: var(--font-family);
  color: var(--text-color-secondary);
  text-align: center;
  position: absolute;
  width: 100%;
  height: 10em;
  margin: 0;
}