<nb-layout-column start>

  <br>  <br>

  <div>
    <h2 i18n="@@editContest" align="center">Edit Contest</h2>

    <nb-card>
      <nb-card-body>
        <p i18n="@@editContestSelectInfo">Select info to edit:</p>
        <nb-select (selectedChange)="onChangeSelectInfoToEdit($event)">
          <nb-option value="mainInfo" i18n="@@contestMainInfo">MAIN</nb-option>
          <nb-option value="addLang" i18n="@@contestAddLang">LANG</nb-option>
          <nb-option value="addTeams" i18n="@@contestAddTeams">TEAM</nb-option>
        </nb-select>

        <p i18n="@@editContestSelect">Select Contest to edit:</p>
        <nb-select (selectedChange)="onChangeSelect($event)">
          <nb-option *ngFor="let contest of constestList; let i=index" [value]="contest">{{contest.id}} - {{contest.nombreContest}}</nb-option>
        </nb-select>

        <div [hidden]="hiddenEditMainInfo">
          <br>
          <p i18n="@@nameColumn">Name:</p>
          <input nbInput [(ngModel)]='contestName' type="text" required>
          <br><br>
          <p i18n="@@descriptionColumn">Description:</p>
          <input nbInput [(ngModel)]='contestDescription' type="text" required>
          <br><br>
          <p i18n="@@startDateContest">Start</p>
          <input nbInput [(ngModel)]='startDateContest' type="datetime-local" required>
          <br><br>
          <p i18n="@@endDateContest">End</p>
          <input nbInput [(ngModel)]='endDateContest' type="datetime-local" required>
        </div>

        <div [hidden]="hiddenAddLang">
          <br><br>
          <p i18n="@@editContestSelectLang">Select</p>
          <nb-select multiple (selectedChange)="onChangeSelectLanguagesAdd($event)">
            <nb-option *ngFor="let lang of languageListWithoutExisting" [value]="lang">{{lang}}</nb-option>
          </nb-select>
          <p i18n="@@editContestSelectLangDelete">Select</p>
          <nb-select multiple (selectedChange)="onChangeSelectLanguagesDelete($event)">
            <nb-option *ngFor="let lang of currentLanguagesList" [value]="lang.id">{{lang.nombreLenguaje}}</nb-option>
          </nb-select>
        </div>

        <div [hidden]="hiddenAddTeams">
          <br><br>
          <p i18n="@@editContestSelectTeam">Select</p>
          <nb-select multiple (selectedChange)="onChangeSelectTeamsAdd($event)">
            <nb-option *ngFor="let team of teamsListNotInCurrentContest" [value]="team.id">{{team.nombreEquipo}}</nb-option>
          </nb-select>
          <p i18n="@@editContestSelectTeamDelete">Select</p>
          <nb-select multiple (selectedChange)="onChangeSelectTeamsDelete($event)">
            <nb-option *ngFor="let team of teamsInCurrentContest" [value]="team.id">{{team.nombreEquipo}}</nb-option>
          </nb-select>
        </div>

        <div style="float: bottom">
          <br><br>
          <button nbButton fullWidth (click)="save()" status="primary" size="large" i18n="@@saveContest">Save Contest</button>
        </div>
      </nb-card-body>

    </nb-card>



  </div>
</nb-layout-column>




